\.idea/
\.idea/workspace.xml
\.idea/misc.xml
\.idea/*.*

Home/__pycache__/

db.sqlite3
*.xml
Home/migrations/0001_initial.py
Home/migrations/__pycache__/0001_initial.cpython-37.pyc
Home/migrations/__pycache__/__init__.cpython-37.pyc
